/* CSS declarations go here */
.login-link-and-dropdown-list.login-form-sign-in{
	top:15px;
}
#login-dropdown-list{
	/*margin-right: -50px;*/
	top:55px;
	left: -190px;
}
#regions_div{
padding-top: 30px;
padding-bottom: 60px;
 margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*NAVIGATION BAR*/
nav{
	background-color: transparent;
}

/*NAV BAR BUTTONS*/
.btn {
    border: 0 none;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/*
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}*/

.btn.outline {
    background: none;
    padding: 5px 12px;
    border: 2px solid;
}

/*SCROLLY PAGE*/
#startpage{
	width: 100%;
	height: 100%;
	min-height: 700px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #E86850;
	z-index: 1;
	
}
.signin {
	z-index: 3;
}

#scroll{
	position: absolute;
	padding: 0;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
  /*color shown through text*/
	color: white;
}


.segment{
	position: relative;
	height: 100%;
}

.explanation {
	background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 200px;
}
.#map-blurb {
	z-index: 4;
}

.first{
	background-color: #129793; /*purple */ 
}


.second{
	background-color: #129793; /*green */  
}

/*INSTAGRAM*/
.instagram_container{

}

.instabox{
  display: block;
  height: 20px;
  background-color: blue;
}

 #instafeed {
 padding: 20px 20px 100px 20px;
 width: 100%;
 margin: 0 auto;
 list-style: none;
 text-align: center;
 font-style: lucida;
 /*font-family: sans-serif;*/
 }

 #titlebox{
  width: 700px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
 }

 #instafeed article {
 display: inline-block;
 width: 180px;
 margin: 0;
 padding: 15px;
 text-align: center;
 position: relative;
 }

 #instafeed #instaimage{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
 }

 #instafeed #instagram_container {
 margin: 0;
 padding: 0px;
 position: relative;
 /*border: 1px solid white;*/
 vertical-align: baseline;
 }

 #instafeed img {
 max-width: 100%;
 display: block;
 position: relative;
 z-index: 10;
 }

 #instafeed #instabox {
 width: 100%;
 display:block;
 position: relative;
 margin:0;
 top: 0;
 left: 0;
 padding: 0px;
 background: #FDF3E7;
 color: #3B3738;
 height: 120px;
 top: auto;
 bottom: 0;
 border-bottom-left-radius:15px;
 border-bottom-right-radius:15px; 
 }

/* meteor login */

/* The login menu has to be set at a specific height and I chose to center mine. */

#login-screen .dropdown-menu {
  display: block;
  position: relative;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/*#login-screen #login-dropdown-list {
  display: block;
}*/

/* Hides the toggle that you click on */

/*#login-screen .dropdown-toggle {
  display: none !important;
}

.login-link-text #login-sign-in-link {
	display: hidden !important;
}*/


/**********************************************************/

/*login: */

/*.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
	float: left;
    margin-top: 20px;
    padding: 40px 0px 20px 0px;


}
.btn-primary {
	color: #FFE3BA;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 170px;
    height: 140px;
    margin: 0 auto 10px;
    display: block;
/*    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/
/*}

.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}*/



/* end login CSS */



